/node_modules
/public/hot
/public/*.zip
/public/storage
/storage/*.key
/storage/files/*
/storage/framework/laravel-excel/*
/storage/framework/cache/*
/vendor
/config/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*copy.php
composer.lock
*.zip
*.pdf
blogNotas.txt
